<div class="test-background">
  <img class="logo" src="../../../assets/images/1x/logo.png" alt="logo" />
  <img
    class="page-name"
    src="../../../assets/images/1x/be-hero.png"
    alt="be hero"
  />
  <div class="center">
    <div class="field">
      <img
        class="has-tooltip foo-image"
        src="../../../assets/images/1x/ninja-shadow.png"
        alt="ninja-shadow"
      />
      <div class="tooltip">S hero</div>
    </div>
    <div class="field">
      <img
        class="has-tooltip foo-image"
        src="../../../assets/images/1x/hman-shadow.png"
        alt="ninja-shadow"
      />
      <div class="tooltip">S hero</div>
    </div>
    <div class="field">
      <img
        class="has-tooltip foo-image"
        src="../../../assets/images/1x/oracle-shadow.png"
        alt="ninja-shadow"
      />
      <div class="tooltip">S hero</div>
    </div>
    <div class="field">
      <img
        class="has-tooltip foo-image"
        src="../../../assets/images/1x/sman-hero.png"
        alt="ninja-shadow"
      />
      <div class="tooltip">S hero</div>
    </div>
    <div class="field">
      <img
        class="has-tooltip foo-image"
        src="../../../assets/images/1x/bman-hero.png"
        alt="ninja-shadow"
      />
      <div class="tooltip">S hero</div>
    </div>
  </div>
</div>
